<div class="modal-overlay" (click)="closeModal()"></div>

<div class="modal-container">
    <div class="modal-content">
        <div class="popup-container" *ngIf="formData">
            <div class="popup-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label for="nombre">Nombre:</label>
                <input type="text" formControlName="name" id="nombre">
                
                <label for="type">Tipo:</label>
                <input type="text" formControlName="type" id="type">
                
                <label for="location">Ubicación:</label>
                <input type="text" formControlName="location" id="location">
                
                <label for="coords">Coords:</label>
                <input type="text" formControlName="coords" id="coords">

                <label for="adress">Dirección:</label>
                <input type="text" formControlName="adress" id="adress">

                <label for="phoneNumber">Teléfono:</label>
                <input type="text" formControlName="phoneNumber" id="phoneNumber">

                <label for="estimatedTime">Tiempo estimado:</label>
                <input type="text" formControlName="estimatedTime" id="estimatedTime">
                
                <label for="description">Descripción:</label>
                <input type="text" formControlName="description" id="description">
                
                <label for="customId">Custom ID:</label>
                <input type="text" formControlName="customId" id="customId" readonly>
                
                <button type="submit" [disabled]="form.invalid">Guardar</button>
            </form>
            </div>
        </div>
    </div>
</div>