div {
    margin-top: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    button {
        display: flex;
        margin: auto;
    }
    .text {
        margin-top: unset !important;
        text-align: center;
        margin-bottom: 35px;
    }
    .loader {
        margin: auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 40px;
        width: 300px;
        .form-buttons {
            display: flex;
            gap: 20px;
        }
    }
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}