<span (click)="setSelectedDay()" 
    [style.background-color]="date.isSelected ? selectedColor : '#FFFFFF'" 
    [class.selected]="date.isSelected"
    [style.transition]="date.isSelected ? 'background-color 0.6s ease' : ''">
    <div>
        <span class="text" [ngClass]="{ selected: date.isSelected }">
            <span>{{ selectedColorIndex + 1 }}</span>
            <span>{{ date.weekDay| titlecase }} - {{ date.date | date: 'dd/MM/YYYY'}}</span>
        </span>
        <mat-icon (click)="exportToPdf(date)">save_as</mat-icon>
    </div>
    <span *ngIf="date.isSelected" id="localizations-list">
        <span *ngFor="let wish of date.wishlist; let i = index" 
                class="localizations"
                [ngClass]="{ 
                    'first-item': i === 0, 
                    'middle-item': i > 0 && i < arrowsLength - 1, 
                    'last-item': i === arrowsLength - 1,
                    'unique-item': i === 0 && i === arrowsLength - 1}">
            <p>
                <span class="locate">{{ wish.name }}</span>
                <span class="arrow" (click)="moveLocation(i, 'upward')">
                    <button *ngIf="arrowsLength > 0 && i > 0"><mat-icon [style.color]="selectedColor">arrow_upward</mat-icon></button>
                </span>
                <span class="arrow" (click)="moveLocation(i, 'downward')">
                    <button *ngIf="arrowsLength > 0 && i !== arrowsLength - 1"><mat-icon [style.color]="selectedColor">arrow_downward</mat-icon></button>
                </span>
                <span class="arrow remove" (click)="remove(i)"><mat-icon [style.color]="selectedColor">delete</mat-icon></span>
            </p>
        </span>
    </span>
</span>

<div class="container">
    <div class="row">
        <div [id]="printSectionId" *ngIf="report" ngxPrint>
            <div style="font-family: 'Karla', sans-serif;">
                <h2 style="display: block; text-align: center; padding-top: 1%;">RUTA: {{ date.weekDay| titlecase }} - {{ date.date | date: 'dd/MM/YYYY'}}</h2>
                <h3>Total de ubicaciones: {{date.wishlist.length}}</h3>
                <div *ngFor="let item of report">
                    <div *ngIf="currentDateImages[item.route]" id="image" style="margin-bottom: 25px; text-align: center;">
                        <img style="border-radius: 10px; width: 350px; height: 300px;" [src]="currentDateImages[item.route]">
                    </div>
                    <div style="font-weight: bold;">De {{ date.wishlist[item.route]?.name }} a {{ date.wishlist[item.route+1]?.name }}</div>
                    <div style="padding-top: 5px;">Distancia 
                        <span *ngIf="item.totalDistance >= 1"> {{ item.totalDistance | number:'1.0-1' }} km</span>
                        <span *ngIf="item.totalDistance < 1"> {{ item.totalDistance * 1000 | number:'1.0-1' }} m</span>
                         - Duración aproximada <span>{{ item.totalDuration | secondsToHms }}</span>
                    <div style="border-top: 1px solid lightgray; margin-top: 10px; margin-bottom: 10px;"></div>
                    <div *ngFor="let instruction of item.instructions">
                        <ul><li>{{instruction.maneuver}}
                        <span *ngIf="instruction.distance > 0 && instruction.duration > 0">
                            Distancia:
                            <span *ngIf="instruction.distance >= 1"> {{ instruction.distance | number:'1.0-1' }} km</span>
                            <span *ngIf="instruction.distance < 1"> {{ instruction.distance * 1000 | number:'1.0-1' }} m</span>
                             - Duración aproximada <span>{{ instruction.duration | secondsToHms }}</span>
                        </span></li></ul>
                    </div>
                    <div *ngIf="item.route === date.wishlist.length - 2 && currentDateImages[item.route]"  style="margin-bottom: 25px; text-align: center;">
                        <img style="border-radius: 10px; width: 350px; height: 300px;" [src]="currentDateImages[item.route + 1]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
