span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 6px;
  div {
    display: flex;
    align-items: center;

    .text {
      flex: 1;
      display: flex;
      flex-direction: row;
    }
    .selected {
      background-color: white;
      border-radius: 8px 8px 0px 0px;
      font-weight: 900;
    }
  }
  #localizations-list {
    padding: unset;
    .localizations {
      background-color: white;
      p {
        display: flex;
        align-items: center;
        margin: unset;
        .locate {
          flex: 1;
          width: 300px;
        }
        .arrow {
          width: 36px;
          padding: unset;
          align-items: center;
        }
        .remove {
          align-items: center;
        }
        button {
          border: unset;
          background-color: unset;
          flex: 0.6;
          cursor: pointer;
        }
      }
    }
  }

  .first-item {
    border-radius: 0px 8px 0 0;
  }
  
  .middle-item {
    border-radius: 0px;
  }
  
  .last-item {
    border-radius: 0px 0px 8px 8px;
  }

  .unique-item {
    border-radius: 0px 8px 8px 8px;
  }
}

mat-icon {
  color: white;
  padding: 6px;
}

.container {
  display: none;
  padding: 50px;
  max-height: 400px;
  overflow-y: auto;
  h2 {
    display: block;
    text-align: center;
    padding: 5%;
  }
  .title {
    font-weight: bold;
    text-transform: uppercase;
  }
}