span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 6px;
  div {
    display: flex;
    .text {
      flex: 1;
    }
  }
  .localizations {
    margin-left: 10px;
    p {
      display: flex;
      .locate {
        flex: 0.9;
      }
      .arrow {
        min-width: 36px;
        padding: unset;
      }
      .remove {
        align-items: center;
      }
      button {
        border: unset;
        background-color: unset;
        cursor: pointer;
      }
    }
  }
}

mat-icon {
  color: white;
}

.container {
  display: none;
  padding: 50px;
  max-height: 400px;
  overflow-y: auto;
  h2 {
    display: block;
    text-align: center;
    padding: 5%;
  }
  .title {
    font-weight: bold;
    text-transform: uppercase;
  }
}