<span (click)="setSelectedDay()" 
    [style.background-color]="date.isSelected ? selectedColor : '#FFFFFF'" 
    [class.selected]="date.isSelected"
    [style.transition]="date.isSelected ? 'background-color 0.6s ease' : ''">
    <div>
        <span class="text" [ngClass]="{ selected: date.isSelected }">
            <span>{{ selectedColorIndex + 1 }}</span>
            <span>{{ date.weekDay| titlecase }} - {{ date.date | date: 'dd/MM/YYYY'}}</span>
        </span>
        <mat-icon (click)="exportToPdf()">save_as</mat-icon>
    </div>
    <span *ngIf="date.isSelected" id="localizations-list">
        <span *ngFor="let wish of date.wishlist; let i = index" 
                class="localizations"
                [ngClass]="{ 
                    'first-item': i === 0, 
                    'middle-item': i > 0 && i < arrowsLength - 1, 
                    'last-item': i === arrowsLength - 1,
                    'unique-item': i === 0 && i === arrowsLength - 1}">
            <p>
                <span class="locate">{{ wish.name }}</span>
                <span class="arrow" (click)="moveLocation(i, 'upward')">
                    <button *ngIf="arrowsLength > 0 && i > 0"><mat-icon [style.color]="selectedColor">arrow_upward</mat-icon></button>
                </span>
                <span class="arrow" (click)="moveLocation(i, 'downward')">
                    <button *ngIf="arrowsLength > 0 && i !== arrowsLength - 1"><mat-icon [style.color]="selectedColor">arrow_downward</mat-icon></button>
                </span>
                <span class="arrow remove" (click)="remove(i)"><mat-icon [style.color]="selectedColor">delete</mat-icon></span>
            </p>
        </span>
    </span>
</span>

<div class="container">
    <div class="row">
        <div [id]="printSectionId" *ngIf="report">
            <h2>RUTA: {{ date.weekDay| titlecase }} - {{ date.date | date: 'dd/MM/YYYY'}}</h2>
            <h3>Total de ubicaciones: {{date.wishlist.length}}</h3>
            <div *ngFor="let item of report">
                <div class="title">ORIGEN:  {{ date.wishlist[item.route]?.name }}</div>
                <div class="title">DESTINO:  {{ date.wishlist[item.route+1]?.name }}</div>
                <div class="estimatedDuration">Distancia {{ item.totalDistance | number:'1.0-1' }} km - Duración {{ item.totalDuration | number:'1.0-2' }} horas</div>
                <br>
                <div *ngFor="let instruction of item.instructions">
                    <ul><li>{{instruction.maneuver}}</li></ul>
                    <span *ngIf="instruction.distance > 0 && instruction.duration > 0">
                        Durante {{ instruction.distance | number:'1.0-1' }} km : (Duración aproximada {{ instruction.duration | number:'1.0-2' }} horas)
                    </span>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
