.filter-container {
    position: fixed;
    top: 0px;
    right: 5px;
    background-color: white;
    padding: 5px;
    width: 200px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    p {
        font-weight: bold;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }
    #elemento {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 5px;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease;
    }
    
    #elemento.mostrar {
        opacity: 1;
        max-height: 1000px;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        .button {
            margin: 5px;
            width: 100%;
        }
    }
}

/* Media query para dispositivos de escritorio medianos */
@media only screen and (max-width: 1200px) {
    .filter-container {
        width: 150px;
        .button {
            font-size: 16px;
        }
    }
}

/* Media query para dispositivos de escritorio pequeños */
@media only screen and (max-width: 992px) {
    .filter-container {
        width: 120px;
        .button {
            font-size: 12px;
        }
    }
}

/* Media query para tabletas */
@media only screen and (max-width: 768px) {
    .filter-container {
        width: 80px;
        .button {
            font-size: 8px;
        }
    }
}

/* Media query para móviles */
@media only screen and (max-width: 600px) {
    .filter-container {
        width: 150px;
        bottom: 0px;
        top: unset;
        left: 8px;
        border-radius: 8px 8px 0px 0px;
        .button {
            font-size: 12px;
        }
    }
}
