$block: "user-config";

.#{$block} {
    display: flex;
    flex-direction: column;
    min-width: 506px;
    padding: 5px 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 0px 0px 8px 8px;
    background-color: white;
    position: fixed;
    &--hide-and-show {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        padding: 5px 0px 5px 0px;
        height: 25px;
        cursor: pointer;
        &--dates-list {
            order: 1;
            flex: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p {
                margin: unset;
            }
        }
        &--whishlist {
            order: 2;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &--user-info {
        left: 2px;
        top: 32px;
        overflow-y: auto;
        max-height: 95vh;
    }
}

h4 {
    margin: unset !important;
}

@media only screen and (max-width: 700px) {
    .#{$block} {
        width: -webkit-fill-available;
        min-width: unset;
        font-size: 12px;
        &--hide-and-show {
            padding: unset;
            &--dates-list, &--whishlist {
                font-size: 12px;
            }
        }
        &--user-info {
            width: 100%;
            padding-top: 5px;
        }
    }
}