<div class="date-selector-overlay">
    <div class="date-selector-overlay--date-selector-container">
        <h2>Seleccione rango de fechas</h2>
        <div class="date-selector-overlay--date-selector-container--date-selector">
            <div class="demo-inline-calendar-card">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="" (dateChange)="onStartDateChange($event)" style="display: none;">
                    <input matEndDate placeholder="" id="endDate" (dateChange)="onEndDateChange($event)" style="display: none;">
                </mat-date-range-input>
                <mat-datepicker-toggle id="picker" [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </div>
        </div>
    </div>
</div>
