mat-card, .demo-inline-calendar-card {
  width: 20rem;
  height: 22rem;

  .mat-datepicker-toggle {
    display: none;
  }
  .cdk-overlay-pane mat-datepicker-popup {
    width: 100%;
    justify-content: center;
    margin: auto;
  }
}
::ng-deep .mat-datepicker-content .mat-calendar {
  width: 20rem !important;
  height: unset !important;
}

.date-selector-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  .date-selector-container {
    h2 {
      margin: 0;
    }
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  .date-selector {
    order: 1;
    display: flex;
    .selector {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0px 20px 20px 20px;
    }
  }
}

