<div class="date-selector-overlay">
    <div class="date-selector-container">
        <div class="date-selector">
            <div class="selector">
                <mat-card class="demo-inline-calendar-card">
                    <mat-card-title>Fecha de inicio</mat-card-title>
                    <mat-calendar [(selected)]="startDate" (selectedChange)="getDiferenciaDias()"></mat-calendar>
                </mat-card>
            </div>
            <div class="selector">
                <mat-card class="demo-inline-calendar-card">
                    <mat-card-title>Fecha de fin</mat-card-title>
                    <mat-calendar [(selected)]="endDate" (selectedChange)="getDiferenciaDias()"></mat-calendar>
                </mat-card>
            </div>
        </div>
        <button [disabled]="disabledButton" (click)="completeAction()">Completar</button>
    </div>
</div>
