$block: "whishlist";

.#{$block} {
    margin: unset;
    position: relative;
    &--header {
        display: flex;
        flex-direction: row;
        &-title {
            text-align: center;
            position: sticky;
            margin: auto;
            width: 100%;
            text-transform: uppercase;
            font-weight: bolder;
            background-color: white;
            z-index: 1;
        }
        &-close-icon {
            position: sticky;
            margin: auto;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.54);
            transition: color 0.3s ease;
        }
        &-close-icon:hover {
            color: rgba(0, 0, 0, 0.87);
        }
    }
    &--no-content {
        width: 100%;
        height: 200px;
        text-align: center;
        align-content: center;
    }
    &--list-container {
        overflow-y: auto;
        max-height: calc(100vh - 40px);
        &-list {
            padding: 20px;
            display: flex;
            flex-direction: column;
            &--item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &-remove {
                    cursor: pointer;
                    order: 1;
                    display: flex;
                    align-items: center;
                    color: lightgray;
                    transition: color 0.3s ease;
                }
                &-remove:hover {
                    color: darkgray;
                }
                &-item {
                    font-weight: bolder;
                    cursor: pointer;
                    transition: font-weight 0.3s ease;
                    order: 2;
                    display: flex;
                    align-items: center;
                }
                &-item:hover {
                    font-weight: 800;
                }
                &-day {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    gap: 8px;
                    margin: 5px;
                    width: 100%;
                    justify-content: center;
                    button {
                        padding: 5px 0px;
                    }
                }
            }
        }
    }
}