<div class="user-config">
    <div class="date-selector">
        <div class="selector">
            <input matInput placeholder="Fecha de inicio" [matDatepicker]="startDatePicker" [(ngModel)]="startDate" (dateChange)="getDiferenciaDias()">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </div>
        <div class="selector">
            <input matInput placeholder="Fecha de fin" [matDatepicker]="endDatePicker" [(ngModel)]="endDate" (dateChange)="getDiferenciaDias()">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </div>
    </div>

    <div *ngIf="startDate && endDate && endDate >= startDate" class="user-info">
        <div *ngFor="let date of dates; let i = index">
            <app-day [date]="date" [index]="i" [selectedColorIndex]="i" (click)="updateSelectedDate(date)"></app-day>
        </div>
    </div>
    <div *ngIf="startDate && endDate && endDate < startDate" class="user-info">
        Ambas fechas deben estar seleccionadas
    </div>
</div>