.user-config {
    display: flex;
    flex-direction: column;
}
.date-selector {
    display: flex;
    background-color: white;
    padding: 0px 10px;
    top: 0px;
    left: 5px;
    position: fixed;
    height: 34px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .hide-and-show {
        margin: auto;
        height: 70%;
    }
}
.selector {
    display: flex;
    align-items: center;
    flex: 1;
}
h4 {
    margin: unset !important;
}

.user-info {
    width: 476px;
    background-color: white;
    padding: 5px 10px;
    margin: 5px;
    position: fixed;
    left: 2px;
    top: 32px;
}

/* Media query para dispositivos de escritorio medianos */
@media only screen and (max-width: 1200px) {
    .user-info {
        width: 476px;
        left: 2px;
        margin: 5px;
    }
}

/* Media query para dispositivos de escritorio pequeños */
@media only screen and (max-width: 992px) {
    .user-info {
        width: 476px;
        left: 2px;
        margin: 5px;
    }
}

/* Media query para tabletas */
@media only screen and (max-width: 768px) {
    .user-config {
        align-items: unset;
    }
    .date-selector {
        left: 5px;
    }
    .selector {
        input {
            width: 100%;
        }
    }
    .user-info {
        width: 476px;
        left: 2px;
        margin: 5px;
    }
}

/* Media query para móviles */
@media only screen and (max-width: 600px) {
    .user-config {
        align-items: center;
    }
    .date-selector {
        left: unset;
    }
    .selector {
        input {
            width: 95px;
        }
    }
    .user-info {
        width: 328px;
        left: unset;
        margin: auto;
    }
}