@import './../../../../styles.scss';

div {
    padding: 50px;
    button {
        display: flex;
        margin: auto;
    }
    .logout {
        margin: unset;
        margin-bottom: 35px;
    }
    form {
        .inputs {
            display: flex;
            flex-direction: column;
            padding: 10px;
            color: lightgray;
            align-items: center;
            .selector {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .enabled {
                color: black;
            }
        }
        .form-input {
            padding: 10px;
            width: 100%;
            text-align: center;
            #text {
                width: 80%;
                height: 250px;
            }
        }
        .footer {
            display: flex;
            flex-direction: column;
            width: 700px;
            margin: auto;
            button {
                justify-content: center;
                width: 300px;
            }
            span {
                color: red;
                width: 100%;
                text-align: center;
            }
            .showSuccess {
                color: green;
                width: 100%;
                text-align: center;
            }
        }
        .toggle {
            position: relative;
            width: 50px;
            height: 0px;
            background-color: $blueButton;
            border-radius: 25px;
            cursor: pointer;
            padding: unset;
            padding-bottom: 25px;
            align-self: center;
            margin-right: 10px;
            margin-left: 10px;
          }
          
          .toggle input {
            display: none;
          }
          
          .toggle label {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 23px;
            height: 23px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.3s ease;
          }
          
          .toggle input:checked + label {
            transform: translateX(25px);
          }
    }
}