<div>
    <span class="logout-button">
        <button (click)="firestoreLogout()" class="logout"> Cerrar sesión y volver al mapa </button>
        <!-- <button (click)="updateCollection()" class="logout"> Actualizar colección </button> -->
    </span>
    <div class="tab-buttons">
        <button (click)="currentTab = 'add-form-location'" [class.active]="currentTab === 'add-form-location'" (click)="openEditForm({})">Añadir ubicación</button>
        <button (click)="currentTab = 'add-text-locations'" [class.active]="currentTab === 'add-text-locations'">Añadir texto</button>
        <button (click)="currentTab = 'tableTab'" [class.active]="currentTab === 'tableTab'">Editar/eliminar</button>
        <!-- <button (click)="deleteDuplicated()" [class.active]="currentTab === 'tableTab'">DUPLICADOS</button> -->
    </div>


    <div *ngIf="currentTab === 'add-form-location'">
        <app-edit-location 
            *ngIf="showEditModal" 
            [formData]="formEditData" 
            [isEditForm]="false"
            (formSubmitted)="saveNewLocation($event)" 
            (modalClosed)="showEditModal = false"
        ></app-edit-location>
    </div>
    <div *ngIf="currentTab === 'add-text-locations'">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="inputs">
                <div class="selector">
                    <label  [ngClass]="{ enabled: !form.value.useText }">Archivo JSON </label>
                    <div class="toggle" (click)="toggleCheckbox()">
                        <input type="checkbox" formControlName="useText" [checked]="form.get('useText')?.value">
                        <label></label>
                    </div>
                    <label [ngClass]="{ enabled: form.value.useText }">Texto </label>
                </div>
                <div class="form-input" *ngIf="form.value.useText">
                    <textarea id="text" type="text" formControlName="textData"></textarea>
                    <br>
                    <button *ngIf="form.value.useText" (click)="toggleExample()">Ver ejemplo</button>
                </div>
                <div class="form-input" *ngIf="!form.value.useText">
                    <input id="fileInput" type="file" formControlName="jsonData">
                </div>
            </div>

            <div class="user-info">
                <input type="checkbox" (change)="onCheckboxChange()" formControlName="isChecked">
                <label>Al marcar el siguiente check se confirma que la integridad de los datos a añadir ha sido revisada por el autor de la actualización
                    de los datos</label>
            </div>
            <span class="footer">
                <button [disabled]="!acceptTerms" type="submit">Enviar</button>
                <span *ngIf="!acceptTerms">Debe marcar la casilla de conformidad</span>
                <span *ngIf="showError">Hay un error en el texto introducido: {{ errorMessage }}</span>
                <span *ngIf="showSuccess" class="showSuccess">¡Localizaciones actualizadas correctamente!</span>
            </span>
            <span *ngIf="showExample && form.value.useText">
                <br>
                <span>El valor de coords debe ser primero el valor negativo y después el valor positivo</span>
                <br>
                <code>Datos de ejemplo:</code><br><pre><code>{{ jsonExample }}</code></pre>
            </span>
        </form>
    </div>

    <div *ngIf="currentTab === 'tableTab'" class="table">
        <div class="search-btn">
            <button *ngIf="currentTab === 'tableTab'" (click)="toggleFilters()" class="filter-btn"> * FILTROS * </button>
            <button *ngIf="currentTab === 'tableTab' && !showSearchBox" (click)="showSearchBox = !showSearchBox" class="filter-btn"> * BUSCAR * </button>
            <div class="search-btn" *ngIf="currentTab === 'tableTab' && showSearchBox">
                <input type="text" #searchInput placeholder="Escribe aquí..." />
                <button (click)="search(searchInput.value)">
                    <span class="material-icons">search</span>
                  </button>
                <button (click)="closeSearch()">Cerrar</button>
            </div>
        </div>
        <div *ngIf="showFilters && currentTab === 'tableTab'" class="filters">
            <div *ngFor="let option of options; let i = index" class="buttons">
                <button (click)="setFilter(option, i)" [class.active]="i === activeButtonIndex">{{ option }}</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Localidad</th>
                    <th>Tipo de recurso</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Tiempo estimado</th>
                    <th>Descripción</th>
                    <th>Visible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentItems">
                    <td class="name">{{ item.name }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.adress }}</td>
                    <td>{{ item.phoneNumber }}</td>
                    <td>{{ item.estimatedTime }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.visible }}</td>
                    <td>
                        <span class="arrow edit" (click)="openEditForm(item)"><mat-icon>edit</mat-icon></span>
                        <span class="arrow remove" (click)="removeItem(item.customId)"><mat-icon>delete</mat-icon></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button (click)="goToFirstPage()" [disabled]="currentPage === 1">Primera</button>
            <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
            <span>{{ currentPage }} de {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
            <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">Última</button>
        </div>
        <app-edit-location *ngIf="showEditModal" [isEditForm]="true" [formData]="formEditData" (formSubmitted)="editItem($event)" (modalClosed)="showEditModal = false"></app-edit-location>
    </div>
</div>