@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$blue: #07a8b7;
$coral: #DB795E;
$lightblue: #75c5c3;
$green: #91c792;
$yellow: #f0bd67;
$black: #000000;

$blueButton: #007bff;
$blueButtonHover: #0056b3;

@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla.ttf');
}

div, button {
    font-family: 'Karla' !important;
}

.culture-resources-marker {
  width: 27px;
  height: 41px;
  background-image: url('assets/markers/culture-resources/marker.svg');
}
.experiences-marker {
  width: 27px;
  height: 41px;
  background-image: url('assets/markers/experiences/marker.svg');
}
.where-to-sleep-marker {
  width: 27px;
  height: 41px;
  background-image: url('assets/markers/where-to-sleep/prev-marker.svg');
}
.where-to-eat-marker {
  width: 27px;
  height: 41px;
  background-image: url('assets/markers/where-to-eat/prev-marker.svg');
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: $blueButton;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}
button:not(.date-selector):hover {
  background-color: $blueButtonHover;
}
.date-selector button:hover {
  background-color: transparent !important;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.custom-popup {
    background-color: #ffffff;
    padding: 10px;
  }

  #add-to-wishlist {
    button:hover {
      background-color: $blueButtonHover !important;
    }
  }
  
  .custom-popup h6 {
    font-size: 15px;
    font-weight: bold;
  }
  
  .custom-popup button {
    margin: 0px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    background-color: $blueButton;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
  }

.mapboxgl-popup-close-button {
  color: darkgray;
  padding: unset;
  margin-right: 5px;
}
.mapboxgl-popup-close-button:hover {
  background-color: transparent !important;
}